RewriteEngine On

RewriteRule ^api/(.*)$ api/index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

RewriteRule ^config/ - [F,L]
RewriteRule ^docker/ - [F,L]
RewriteRule ^src/ - [F,L]

Options -Indexes
