.search-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.search-box {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    color: var(--btn-primary-color);
}

.search-button {
    background: var(--lens-svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: var(--btn-secondary-hover-color);
}

.search-box:hover {
    background-color: var(--btn-secondary-hover-color);
}