
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--main-bg-color);
    min-height: 30rem;
    padding: 5em 9em;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--btn-primary-color);
}

.hero p {
    font-size: 2rem;
    color: var(--btn-primary-color);
    margin-bottom: 2rem;
}

.hero-image {
    background-image: var(--clipboard-svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 75% 0;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.feature {
    background-color: var(--btn-primary-color);
    border: 1px solid var(--btn-secondary-color);
    padding: 2em;
    border-radius: 8px;
    color: var(--main-bg-color);
}

.feature h3 {
    margin-bottom: 15px;
    color: var(--main-bg-color);
}
